@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Montserrat;
    background-color: #101010;
    color: #fff;
    display: flex;
    justify-content: center;
    user-select: none;
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100vh;
    font-weight: 900;
    text-align: center;
    gap: 5px 0;
}

.userClickCountWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 5px;
}

.userClickCountWrapper img, .neededPoints img{
    width: 35px;
}

.clickCount{
    font-size: 40px;
}

.neededPoints, .clickPower{
    font-size: 25px;
}

.neededPoints{
    display: flex;
    background-color: #1b4ee8;
    padding: 5px 10px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    gap: 0 5px;
    width: 80%;
}


.content-wrapper > img{
    width: 80%;
    border-radius: 5px;
}