@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Montserrat;
    background-color: #101010;
    color: #fff;
    display: flex;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100vh;
    font-weight: 900;
    text-align: center;
    gap: 5px 0;
}

.userClickCountWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 5px;
}

.powerInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 50px;
}

.powerInfo img{
    width: 30px;
}

.userClickCountWrapper img, .upgradeBtn img{
    width: 35px;
}

.clickCount{
    font-size: 40px;
}

.upgradeBtn, .clickPower{
    font-size: 25px;
}

.upgradeBtnWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 5px;
    flex-direction: column;
}

.upgradeBtn{
    display: flex;
    padding: 5px 10px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    gap: 0 5px;
    width: 100%;
}

.clickUpgrade{
    background-color: #1b4ee8;
}

.afkUpgrade{
    background-color: #6fb740;
}

.clickImgWrapper{
    width: 80%;
}


.clickImgWrapper > img{
    width: 100%;
    border-radius: 5px;
    pointer-events: none;
}